@font-face {
    font-family: 'Bold1';
    src: url("../font/ClearSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Light';
    src: url("../font/ClearSans-Light.ttf") format("truetype");
}

.container_about{
    height:88vh;
    width: 100vw;
}