
.content_home {
    width: 100%;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#first_text_home {
    width: 70%;
    font-size: 30px;
    display: block;
    text-align: center;
}

.char {
    font-size: 40px;
    height: 40px;
    animation: an 1s ease-out 1 both;
    display: inline-block;
}

@keyframes an {
    from {
        opacity: 0;
        transform: perspective(500px) translate3d(-35px, -40px, -150px)
        rotate3d(1, -1, 0, 35deg);
    }
    to {
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}
